<%= form_with(model: business, local: true) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :entry_url %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">https://</span>
      </div>
      <%= form.text_field :entry_url, :class=> "form-control" %>
    </div>
  </div>

  <div class="card selected-tags">
      <div class="card-header">
        <span class="badge badge-primary float-right" data-bind="text: SelectedTags().length"></span>
        <a href="#" data-toggle="modal" data-target="#category_list_modal" data-bind="text: hasSelectedTags() == true ? 'Edit' : 'Select Categories' ">
          </a>
      </div>
      <div class="card-body" data-bind="visible: hasSelectedTags">
        <div data-bind="foreach: SelectedTags">
          <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#category_list_modal" data-bind="text:name"></button>
        </div>
       <!-- <span class="badge badge-primary" data-bind="text:name" data-toggle="modal" data-target="#category_list_modal"></span> -->
     </div>
  </div>


  <div class="form-group">
    <%= form.label :category %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3" data-toggle="modal" data-target="#category_list_modal">+</span>
      </div>
      <%= form.text_field :category, :class=> "form-control" %>
    </div>
  </div>


  <!-- <div class="form-group">
    <%= form.label :category %>
    <%= form.text_field :category, :class=> "form-control" %>
  </div> -->

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :twitter_id %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">twitter.com/</span>
      </div>
      <%= form.text_field :twitter_id, :class=> "form-control" %>
    </div>
    <!-- <%= form.text_field :twitter_id, :class=> "form-control" %> -->
  </div>

  <div class="form-group">
    <%= form.label :facebook_url %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">facebook.com/</span>
      </div>
      <%= form.text_field :facebook_url, :class=> "form-control" %>
    </div>
    <!-- <%= form.text_field :facebook_url, :class=> "form-control" %> -->
  </div>

  <div class="actions">
    <%= form.submit 'Add Details', :class => "btn btn-primary" %>
  </div>
<% end %>
